<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
<%- include('partials/nav'); %>
<h1>Bigos menu</h1>
<%- include('partials/table'); %>
<%- include('partials/footer'); %>

</body>
</html>