<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>Bigos Type</th>
        <th>Price</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Traditional Bigos</td>
        <td>$12.99</td>
        <td>500g</td>
    </tr>
    <tr>
        <td>Smoked Kielbasa Bigos</td>
        <td>$14.99</td>
        <td>600g</td>
    </tr>
    <tr>
        <td>Wild Game Bigos</td>
        <td>$18.99</td>
        <td>700g</td>
    </tr>
    <tr>
        <td>Vegetarian Bigos</td>
        <td>$11.49</td>
        <td>500g</td>
    </tr>
    <tr>
        <td>Spicy Bigos</td>
        <td>$13.99</td>
        <td>550g</td>
    </tr>
    </tbody>
</table>