<nav>
    <div class="nav-element">
        <a href="/">Home</a>
    </div>
    <div class="nav-element">
        <a href="/about">About</a>
    </div>
    <div class="nav-element">
        <a href="/menu">Menu</a>
    </div>
    <div class="nav-element">
        <a href="/contact">Contact</a>
    </div>
</nav>